<!DOCTYPE html>
<html>
<head>
<title>AgriShield AI</title>
</head>
<body style="background:black;color:white;text-align:center">

<h1>🌿 AgriShield AI</h1>

<input type="file" id="image"><br><br>

<input id="cityInput" placeholder="Enter city (Chennai)" value="Chennai"><br><br>

<select id="languageInput">
<option>English</option>
<option>Tamil</option>
<option>Hindi</option>
</select><br><br>

<button onclick="upload()">Analyze</button>

<h2 id="result"></h2>
<p id="solution"></p>
<p id="weather"></p>

<button onclick="downloadPDF()">Download PDF</button>

<script>
let lastData = null;
let lastFile = null;

document.getElementById("image").addEventListener("change", function(){
  lastFile = this.files[0];
});

function upload(){
  const file = lastFile;
  if(!file) return alert("Upload image");

  const formData = new FormData();
  formData.append("image", file);
  formData.append("city", document.getElementById("cityInput").value || "Chennai");
  formData.append("language", document.getElementById("languageInput").value);

  fetch("/predict",{method:"POST",body:formData})
  .then(res=>res.json())
  .then(data=>{
    lastData = data;

    document.getElementById("result").innerText = data.disease;
    document.getElementById("solution").innerText = data.solution;
    document.getElementById("weather").innerText = data.weather;
  });
}

document.getElementById("languageInput").addEventListener("change",()=>{
  if(lastFile) upload();
});

function downloadPDF(){
  if(!lastData) return;

  fetch("/download-report",{
    method:"POST",
    headers:{"Content-Type":"application/json"},
    body:JSON.stringify(lastData)
  })
  .then(res=>res.blob())
  .then(blob=>{
    const url = window.URL.createObjectURL(blob);
    const a = document.createElement("a");
    a.href = url;
    a.download = "report.pdf";
    a.click();
  });
}
</script>

</body>
</html>